<section class="listing">
  <div class="container-fluid padding">
      {{#each rooms}}
      <div class="row padding">
          <div class="card-deck" id="cardLine1">
          {{#each this}}
               <div class="card">
                        <img class="card-img-top" src="/images/{{this.image}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.price}}</p>
                            <p class="card-text">{{this.location}}</p>
                        </div>
                        <div class="card-footer">
                            <form method="POST" action="/roomListingLogged/{{room._id}}">
                            <button type="submit" type="button" class="btn btn-primary-red w-100">Book</button>
                            </form>
                        </div>
                </div>
            {{/each}}
        </div>
      </div>
 {{/each}}
  </div>
  <hr>
 </section>    

